#form
{
    top:50px;
    left:0px;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 2em;
  }
  
  .box :first-child {
      align-self: center;
  }